sdkconfig
sdkconfig.old
.vscode/*.DB
.vscode/*.DB-shm
.vscode/*.DB-wal

#### Web Development ###
.DS_Store
node_modules

# local env files
.env.local
.env.*.local

# Generated output
/firmware/data/www
/firmware/build
